@font-face {
  font-family: "Quicksand";
  src: url("../fonts/Quicksand-VariableFontwght.ttf") format("truetype"),
       url("../fonts/Quicksand-VariableFontwght.woff") format("woff"),
       url("../fonts/Quicksand-VariableFontwght.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}