html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.text-none {
  font-size: 0;
}

.lnr {
  display: inline-block;
  fill: currentColor;
  width: 1em;
  height: 1em;
  vertical-align: -0.05em;
  color: #7e8fa1BA;
  font-size: 19px;
  transition: all .3s;
}

.slider__buttons {
  display: flex;
  border-radius: 25px;
  transition: all .3s;
  overflow: hidden;

  &:hover {
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.4);
  }

  .slider-btn {
    background-color: #7347c1;
    border: none;
    outline: transparent;
    cursor: pointer;
    min-height: 45px;
    min-width: 55px;

    &:active {
      .slider__btn-icon {
        color: #000;
      }
    }
  }

  .slider__btn-icon {
    color: #fff;
    font-size: 14px;
  }
}

.color-blue {
  color: $blue;
}

.color-white {
  color: #fff;
}

.color-yellow {
  color: #feb71d;
}

.color__light-blue {
  color: #58c9e9;
}

.color-green {
  color: #77de51;
}

.color-tomato {
  color: #ff6a6d;
}

.color-violet {
  color: #7f4ec2;
}