html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}


body {
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.text-none {
  font-size: 0;
}

.lnr {
  display: inline-block;
  fill: currentColor;
  width: 1em;
  height: 1em;
  vertical-align: -0.05em;
  color: #7e8fa1BA;
  font-size: 20px;
  transition: all .3s;
}

.slider__buttons {
  display: flex;
  border-radius: 25px;
  transition: all .3s;
  overflow: hidden;

  &:hover {
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.4);
  }

  .slider-btn {
    background-color: #7347c1;
    border: none;
    outline: transparent;
    cursor: pointer;
    min-height: 45px;
    min-width: 55px;

    &:active {
      .slider-btn--icon {
        color: black;
      }
    }

    &--icon {
      color: #fff;
      font-size: 14px;
    }
  }
}

.title--blue {
  color: $blue;
}

.text--white {
  color: #fff;
}