html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

.container {
  max-width: 1140px;
  padding: 0 10px;
  margin: 0 auto;
}


body {
  font-family: "Quicksand-Regular", sans-serif;
}

.btn--text {
  font-size: 0;
}

.label {
  font-size: 0;
}