@import 'vars';
@import 'global';
@import 'fonts';


// header satart
// header__top start
.header__top {
  background-color: $bg;

  &-inner {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-height: 100px;
  }

  &-logo {
    margin-right: auto;
  }

  &-btn {
    background-color: $blue;
    color: #fff;
    font-size: 14px;
    line-height: 28px;
    min-height: 36px;
    padding: 0 17px;
    border-radius: 25px;
    border: none;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
  }


  &-notification {
    margin-left: 50px;
    display: flex;
    align-items: center;
  }

  &-notification__btn {
    border: none;
    outline: transparent;
    cursor: pointer;
    position: relative;

    & + & {
      margin-left: 33px;
    }
  }

  &-notification__count {
    position: absolute;
    min-width: 22px;
    padding: 3px;
    border-radius: 50%;
    color: #fff;
    font-family: $medium;
    font-size: 14px;
    
  }

  &-notification__count--alarm {
    background-color: #ff6a6c;
    bottom: 17px;
    left: 15px;
  }

  &-notification__count--massage {
    background-color: #62d03b;
    bottom: 17px;
    left: 18px;
  }

  &-notification__count--cart {
    background-color: $blue;
    bottom: 17px;
    left: 20px;
  }

  &-user {
    margin-left: 48px;
    display: flex;
    align-items: center;
  }

  &-user__image {
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
  }

  &-user__info {
    margin-left: 20px;
    line-height: 22px;
  }

  &-user__name {
    display: block;
    font-family: $medium;
    font-size: 16px;
    color: #333;
  }

  &-user__money {
    font-size: 15px;
    color: $blue;
  }
}

.lnr {
  display: inline-block;
  fill: currentColor;
  width: 1em;
  height: 1em;
  vertical-align: -0.05em;
  color: #7e8fa1BA;
  font-size: 20px;
}

// header__top end

// header__bottom start
  .header__bottom {
    &-inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
      min-height: 80px;
    }

    &-menu__list {
      display: flex;
      list-style: none;
      text-transform: uppercase;
      padding-inline-start: 0;
    }

    &-menu__item {
      font-size: 15px;
      line-height: 42px;
      font-family: $medium;
    }

    &-menu__item + &-menu__item {
      margin-left: 30px;
    }

    &-menu__link {
      text-decoration: none;
      color: #333;
    }

    &-search {
      position: relative;
    }

    &-search__inp {
      width: 360px;
      height: 45px;
      border: 1px solid #dbe1e6;
      border-radius: 25px;
      outline: transparent;
      padding-left: 25px;
      padding-right: 75px;
      font-size: 15px;
      line-height: 30px;
      color: #898f96;

      &::placeholder {
        color: #898f96;
      }
    }

    &-search__btn {
      width: 70px;
      height: 45px;
      border: none;
      border-radius: 25px;
      background-color: $blue;
      position: absolute;
      right: 0;
      cursor: pointer;
      outline: transparent;
      padding-top: 5px;

      & path {
        fill:#fff;
      }
    }
  }

  
// header__bottom end
// header end

// create start
.create {
  background-color: #2b4dd0;
  padding: 20px 0 120px;
  min-height: 725px;
  text-align: center;

  &__inner {
    padding: 20px 0;
    min-height: 725px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
  }

  &__title {
    font-size: 60px;
    line-height: 70px;
    margin-bottom: 30px;
  }

  &__title--bold {
    display: block;
    font-family: $bold;
  }

  &__descr {
    font-family: $medium;
    font-size: 20px;
    line-height: 72px;
    margin-bottom: 65px;
    
  }

  &__btn-products {
    margin: 0 15px;
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 25px;
    min-height: 55px;
    padding: 0 30px;
    font-size: 16px;
    cursor: pointer;
    outline: transparent;
  }

  &__btn-products--active {
    background-color: #fff;
    color: #2b4dd0;
  }
}
// create end

// products__serch start
.products__serch {
  position: relative;

  &-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &-substrate {
    opacity: 0.502;
    background-color: #fff;
    border-radius: 6px;
    min-height: 135px;
    position: absolute;
  }

  &-substrate--one {
    width: 1110px;
    bottom: -55px;
    z-index: 1;
  }

  &-substrate--two {
    width: 1080px;
    bottom: -42px;
    z-index: 2;
  }

  &-wrap {
    position: absolute;
    bottom: 50%;
    transform: translateY(50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1130px;
    min-height: 135px;
    border-radius: 6px;
    background-color: #fff;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
    z-index: 3;
  }

  &-form {
    display: flex;
    position: relative;
  }

  &-form__inp {
    height: 53px;
    width: 807px;
    border-radius: 4px;
    border: 1px solid #dcdcdc;
    padding-left: 30px;
    padding-right: 205px;
    outline: transparent;
    color: #676767;

    &::placeholder {
      color: #676767;
    }
  }

  &-form__categories {
    position: absolute;
    min-width: 195px;
    left: 605px;
    color: #555;
    padding-left: 20px;
    padding-right: 5px;
    height: 53px;
    background-color: transparent;
    border: none;
    outline: transparent;
    cursor: pointer;
    border-left: 1px solid #dcdcdc;
  }

  &-form__btn {
    margin-left: 30px;
    height: 53px;
    min-width: 223px;
    border: none;
    background-color: $blue;
    border-radius: 4px;
    color: #fff;
    outline: transparent;
    cursor: pointer;
  }
}
// products__serch end

// advantages start
.advantages {
  padding-top: 225px;
  min-height: 710px;

  &__inner {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &__items {
    text-align: center;
    width: 290px;
  }

  &__img {
    margin-bottom: 30px;
  }

  &__title {
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 30px;
    color: #010101;
  }

  &__descr {
    line-height: 30px;
    color: #555;
  }
}
// advantages end

// featured start
.featured {
  background-color: #eff1f5;
  padding: 120px 0;

  &__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    min-height: 110px;
    background-color: #fff;
    margin-bottom: 50px;
    border-radius: 4px;
  }

  &__title {
    font-size: 30px;
  }

  &__slider {
    min-height: 450px;
  }
}

.swiper-container {
  border-radius: 4px;
}

.featured__slider-btn {
  display: flex;

  &__general {
    background-color: #7347c1;
    border: none;
    outline: transparent;
    cursor: pointer;
    min-height: 45px;
    min-width: 55px;
  }
  
  &--prev {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
  }

  &--next {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
  }

  &--icon {
    color: #fff;
    font-size: 14px;
  }
}



.featured__resume {
  display: flex;

  &-image {
    // width: 50%;
    min-width: 555px;
  }
  
  &-wrap {
    // width: 50%;
    padding: 50px 60px 25px 50px;
    background-color: #fff;
  }

  &-title {
    font-size: 24px;
    font-family: $medium;
    margin-bottom: 15px;
  }

  &-autor {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }

  &-autor__image {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-right: 8px;
  }

  &-autor__name {
    margin-right: 20px;
  }

  &-autor__skill {
    display: flex;
  }

  &-autor__skill-name {
    font-size: 15px;
    color: #7347c1;
    margin-left: 8px;
  }

  &-descr {
    max-width: 474px;
    line-height: 30px;
    color: #555;
    margin-bottom: 50px;
  }

  &-links {
    padding-left: 15px;
    margin-bottom: 50px;
  }

  &-resource {
    text-decoration: none;
    font-size: 15px;
    color: #868c96;
    padding: 8px 15px;
    border-radius: 25px;
    background-color: #f1f3f6;

    & + & {
      margin-left: 38px;
    }
  }

  &-info {
    display: flex;
    align-items: center;
  }

  &-info__btn {
    border: none;
    outline: transparent;
    cursor: pointer;
    background-color: transparent;
  }

  &-info__money {
    color: #fff;
    background-color: $blue;
    min-width: 88px;
    min-height: 30px;
    border-radius: 25px;
    font-family: $medium;
    font-size: 15px;
    margin-right: 18px;
    margin-right: 20px;
  }

  &-info__like {
    margin-right: 20px;
  }

  &-info__like--icon {
    color: #7347c1;
    font-size: 17px;
  }

  &-info__like--count {
    font-size: 15px;
    color: #555;
    margin-left: 5px;
  }

  &-info__cart--icon {
    color: $blue;
    font-size: 17px;
  }
  
  &-info__cart--count {
    font-size: 15px;
    color: $blue;
    margin-left: 5px;
  }

  &-info__rating {
    margin-left: auto;
  }
}

// featured end

