@import 'fonts';
@import 'vars';
@import 'global';


// header satart
.header {
  &__top {
    background-color: $bg;
  }

  &__inner {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-height: 100px;
  }

  &__logo {
    margin-right: auto;
  }

  &__btn {
    background-color: $blue;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    padding: 10px 18px;
    border-radius: 25px;
    outline: transparent;
    cursor: pointer;
    border: none;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
    transition: all .3s;

    &:hover {
      box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.5);
    }

    &:active {
      border: 2px solid #87CEFA;
    }

    &:focus {
      border: 1px outset #00BFFF;
    }
  }

  &__wrap {
    display: flex;
    align-items: center;
    position: relative;
  }

  &__notification {
    margin-left: 43px;
    display: flex;
    align-items: center;
    min-height: 100px;
    transition: all .5s;
  }

  &__notification-btn {
    border: none;
    outline: transparent;
    background-color: transparent;
    cursor: pointer;
    position: relative;
    transition: all .3s;
    
    & + & {
      margin-left: 19px;
    }

    &:hover,
    &:focus {
      .lnr {
        color: $blue;
      }
    }

    &--alarm {
      margin-right: 17px;
    }

    &--massage {
      margin-right: 23px;
    }
  }

  &__notification-icon {
    font-size: 20px;
  }

  .lnr-envelope {
    margin-bottom: 4px;
  }

  &__notification-count {
    position: absolute;
    min-width: 22px;
    padding: 3px;
    border-radius: 15px;
    color: #fff;
    font-family: $medium;
    font-size: 14px;

    &--alarm {
      background-color: #ff6a6c;
      bottom: 14px;
      left: 14px;
    }

    &--massage {
      background-color: #62d03b;
      bottom: 16px;
      left: 19px;
    }

    &--cart {
      background-color: $blue;
      bottom: 14px;
      left: 18px;
    }
  }

  .notification {
    position: absolute;
    top: 100px;
    z-index: 5;
    font-size: 15px;
    background-color: #fff;
    box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);
    border-top: 1px solid $blue;
    display: none;

    &--alarm {
      left: 19px;
      max-width: 370px;
      width: 100%;
      padding: 0 25px;
      z-index: 10;

      &::before {
        left: -8px;
      }
    }

    &--massage {
      right: 245px;
      max-width: 370px;
      width: 100%;
      color: #555;

      &::before {
        right: -10px;
      }
    }

    &--cart {
      max-width: 400px;
      width: 100%;
      right: 180px;

      &::before {
        right: 0;
      }
    }

    &::before {
      content: '';
      background-image: url('../images/pointer-up.svg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      position: absolute;
      z-index: -1;
      top: -45px;
      width: 97px;
      height: 89px;
    } 


    &__list {
      padding-left: 0;
    }

    &__title {
      font-size: 18px;
      line-height: 28px;
      color: #000;
      min-height: 64px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &--massage {
        padding: 0 25px;
      }
    }

    &__btn {
      text-decoration: none;
      transition: all .3s;
      line-height: 28px;
      font-size: 15px;

      &:hover {
        text-shadow: 0 0 2px rgb(6, 116, 236);
      }
    }

    &__item {
      display: flex;
      align-items: center;
      color: #747a86;
      
      &--alarm {
        min-height: 99px;
        line-height: 20px;
        border-top: 1px solid #e8ebf0;
      }

      &--massage {
        min-height: 82px;
        display: flex;
        align-items: center;
        border-top: 1px solid #e8ebf0;
      }

      &--cart {
        border-bottom: 1px solid #e8ebf0;
        min-height: 122px;
      }
    }

    &__product {
      max-width: 180px;
    }

    &__product-name {
      font-size: 16px;
      line-height: 22px;
      font-family: $medium;
      text-decoration: none;
      color: #000;
      transition: all .3s;

      &:hover {
        text-shadow: 0 0 1px rgb(0, 0, 0);
      }
    }

    &__product-categori {
      display: block;
      display: flex;
      align-items: center;
      text-decoration: none;
    }

    &__category-name {
      line-height: 30px;
      margin-left: 5px;
      transition: all .3s;

       &:hover {
        text-shadow: 0 0 2px rgb(115, 71, 193);
      }
    }

    &__buttons {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-left: auto;
      margin-right: 24px;
    }

    &__product-btn {
      height: 30px;
      border: none;
      outline: transparent;
      cursor: pointer;
      transition: all .3s;

      &--delete {
        width: 30px;
        border-radius: 50%;
        background-color: #f1ecf9;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &--price {
        margin-top: 10px;
        padding: 0 10px;
        border-radius: 15px;
        background-color: #e6f1fd;
      }

      &:hover {
        box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.5);
      }
    }

    &__product-icon {
      font-size: 15px;
    }

    &__total-price {
      margin-right: 24px;
      text-align: right;
      font-size: 18px;
      line-height: 70px;
      font-family: $medium;
    }

    &__total-num {
      margin-left: 30px;
    }

    &__cart-btn {
      display: flex;
      min-height: 60px;
    }

    &__link-btn {
      color: #fff;
      line-height: 30px;
      text-decoration: none;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all .3s;

      &:hover {
        box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.5);
      }
    }

    &__user-avatar {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin-bottom: 14px;
      margin-right: 15px;
      transition: all .3s;

      &--massage {
        margin: 0 12px 0 25px;
      }

      &:hover {
        box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.5);
      }
    }

    &__link {
      text-decoration: none;

      &--massage {
        margin-right: 25px;
        width: 100%;
      }
    }

    &__product-img {
      width: 80px;
      height: 70px;
      margin-left: 24px;
      margin-right: 15px;
      transition: all .3s;

      &:hover {
        box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.5);
      }
    }

    &__author {
      display: flex;
      align-items: center;
    }

    &__variety {
      max-width: 220px;
      text-align: left;
    }

    &__user-name {
      font-size: 16px;
      font-family: $medium;
      color: #333;
      text-decoration: none;
      transition: all .3s;

      &--massage {
        margin-right: 20px;
      }

      &:hover {
        text-shadow: 0 0 1px rgb(51, 51, 51);
      }
    }

    &__categori {
      display: block;
      text-decoration: none;
      line-height: 22px;
      transition: all .3s;

      &--purchased {
        display: block;
      }

      &:hover {
        text-shadow: 0 0 2px rgb(6, 116, 236);
      }
    }

    &__time {
      font-size: 14px;
      line-height: 28px;
      margin-left: auto;
    }

    &__text {
      line-height: 30px;
      margin: 0;
    }

    &__icon {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 15px;
      text-decoration: none;
      transition: all .3s;
      margin-left: auto;

      &--heart {
        background-color: #e6f1fd;
        color: $blue;
      }

      &--bubble {
        background-color: #f1ecf9;
        color: #7b52c5;
      }

      &--cart {
        background-color: #fff0f0;
        color: #ff8586;
      }

      &--star {
        background-color: #effaeb;
        color: #ade698;
      }

      &:hover {
        box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.5);
      }
    }
  }

  &__user-box {
    position: relative;

    &:hover {
      .drop-down {
        height: auto;
        border-top: 1px solid $blue;
        padding: 20px;
        overflow: visible;

        &--profile {
          padding: 20px;
        }
      }
    }
  }

  &__user {
    margin-left: 38px;
    min-height: 100px;
    display: flex;
    align-items: center;
    text-decoration: none;
  }

  &__image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: all .3s;

    &:hover {
      box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.5);
    }
  }

  &__info {
    margin-left: 30px;
    line-height: 22px;
  }

  &__name {
    display: block;
    font-family: $medium;
    font-size: 16px;
    color: #333;
    transition: all .3s;

    &:hover {
      text-shadow: 3px 3px 3px rgba(51, 51, 51, 0.5);
    }
  }

  &__money {
    font-size: 15px;
    color: $blue;
    padding: 0;

    &:hover {
      text-shadow: 3px 2px 8px rgba(41, 126, 236, 0.7);
    }
  }

  &__bottom-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 80px;
    position: relative;
  }

  .menu-btn {
    display: none;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border: none;
    outline: transparent;
    background-color: transparent;
  }

  .menu__btn-row {
    width: 40px;
    height: 4px;
    background-color: $blue;
    position: absolute;

    &::before,
    &::after {
      content: '';
      width: 40px;
      height: 4px;
      background-color: $blue;
      position: absolute;
      left: 0;
    }

    &::before {
      bottom: 10px;
    }

    &::after {
      top: 10px;
    }
  }

  &__list {
    display: flex;
    list-style: none;
    text-transform: uppercase;
    padding-inline-start: 0;
    margin: 0;
  }

  &__item {
    font-size: 15px;
    line-height: 42px;
    font-family: $medium;
    min-height: 80px;
    padding-top: 18px;

    & + & {
      margin-left: 30px;
    }

    &--home,
    &--wordpress,
    &--pages,
    &--all {
      &:hover {
        .drop-down--home,
        .drop-down--wordpress,
        .drop-down__box,
        .drop-down--all {
          height: auto;
          border-top: 1px solid $blue;
          transition: all .5s;
          padding: 20px;
          overflow: visible;
        }  
      }
    }
  }

  &__link {
    text-decoration: none;
    color: #333;
    transition: all .3s;

    &:hover {
      text-shadow: 3px 3px 3px rgba(51, 51, 51, 0.5);
    }
  }

  &__search {
    position: relative;
  }

  &__inp {
    width: 360px;
    height: 45px;
    border: 1px solid #dbe1e6;
    border-radius: 25px;
    outline: transparent;
    padding-left: 25px;
    padding-right: 75px;
    font-size: 15px;
    line-height: 30px;
    color: #898f96;
    transition: all .3s;

    &::placeholder {
      color: #898f96;
    }

    &:hover {
      box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2);
    }

    &:active,
    &:focus {
      border: 2px solid $blue;
    }
  }

  &__search-btn {
    width: 70px;
    height: 45px;
    border: none;
    border-radius: 25px;
    background-color: $blue;
    position: absolute;
    right: 0;
    cursor: pointer;
    outline: transparent;
    padding-top: 5px;
    transition: all .3s;

    .lnr-magnifier {
      color: #fff;
      font-size: 15px;
    }

    &:hover {
      box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.4);
    }

    &:active {
      border: 2px solid #87CEFA;
    }

    &:focus {
      border: 2px outset #00BFFF;
    }
  }
}
// header end

// create start
.create {
  background-color: #2b2b2b;
  background-image: -webkit-linear-gradient( 180deg, rgba(0, 48, 222, 0.8) 0%, rgba(23, 69, 237, 0.8) 54%, rgba(46, 90, 251, 0.8) 100%);
  text-align: center;

  &__inner {
    display: flex;
    flex-direction: column;
    color: #fff;
    padding: 170px 0 236px;
  }

  &__title {
    font-size: 60px;
    margin-bottom: 28px;
  }

  &__title-bold {
    display: block;
    font-weight: 700;
  }

  &__descr {
    font-family: $medium;
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 62px;
  }

  &__link {
    min-width: 190px;
    display: inline-block;
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 30px;
    padding: 18px 10px;
    font-size: 16px;
    text-decoration: none;
    transition: all .3s;

    & + & {
      margin-left: 30px;
    }

    &:hover {
      box-shadow: 0 0 5px 0 #E0FFFF inset, 0 0 5px 1px #E0FFFF;
      color: #E0FFFF;
    }

    &:active,
    &:focus {
      background-color: #fff;
      color: #2b4dd0;
    }
  }
}
// create end

// products__search start
.search {
  margin-bottom: 188px;

  &__inner {
    position: relative;
    bottom: 70px;
  }

  &__form {
    display: flex;
    align-items: center;
    position: absolute;
    width: 100%;
    padding: 0 40px;
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 135px;
    border-radius: 6px;
    background-color: #fff;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
    z-index: 1;
    

    &::before,
    &::after {
      content: '';
      position: absolute;
      opacity: 0.502;
      background-color: #fff;
      border-radius: 6px;
      min-height: 135px;
      z-index: -1;
      left: 0;
      right: 0;
    }

    &::before {
      max-width: 1110px;
      width: 100%;
      bottom: 13px;
      width: calc(100% - 30px);
      margin: 0 auto;
    }

    &::after {
      max-width: 1080px;
      width: 100%;
      bottom: 26px;
      width: calc(100% - 60px);
      margin: 0 auto;
    }
  }

  &__input-wrap {
    position: relative;
    max-width: 807px;
    width: 100%;
    margin-right: 30px;
  }

  &__inp {
    height: 55px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #dcdcdc;
    padding-left: 30px;
    padding-right: 205px;
    outline: transparent;
    color: #676767;
    
    &::placeholder {
      color: #676767;
    }

    &:hover {
      box-shadow: 4px 4px 10px 2px rgba(219, 225, 230, 0.6);
    }

    &:active,
    &:focus {
      border: 1px solid $blue;
    }
  }

  &__categories {
    position: absolute;
    max-width: 201px;
    width: 100%;
    top: 16px;
    right: 0;
    color: #555;
    padding-left: 20px;
    height: 55px;
    background-color: transparent;
    border: none;
    border-radius: 4px;
    border-left: 1px solid #dcdcdc;
    outline: transparent;
    cursor: pointer;
    appearance: none;
    background-image: url('../images/arrow-down.png');
    background-repeat: no-repeat;
    background-size: inherit;
    background-position-y: calc(100% - 20px);
    background-position-x: calc(100% - 15px);
    transition: all .3s;

    &:hover {
      box-shadow: 4px 4px 10px 2px rgba(219, 225, 230, 0.6);
    }

    &:active,
    &:focus {
      border: 1px solid $blue;
    }
  }

  &__btn {
    padding: 18px 10px;
    max-width: 223px;
    width: 100%;
    border: none;
    background-color: $blue;
    border-radius: 4px;
    color: #fff;
    outline: transparent;
    cursor: pointer;
    transition: all .3s;

    &:hover {
      box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.4);
    }

    &:active {
      border: 2px solid #87CEFA;
    }

    &:focus {
      border: 1px outset #00BFFF;
    }
  }
}
// products__search end

// advantages start
.advantages {
  padding-bottom: 120px;

  &__inner {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &__items {
    text-align: center;
    max-width: 360px;
    padding: 40px 30px;
    transition: all .3s;
    border-radius: 4px;
    
    &:hover {
      box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
    }
  }

  &__img {
    margin-bottom: 28px;
  }

  &__title {
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 30px;
  }

  &__descr {
    line-height: 30px;
    color: #555;
    text-align: center;
    max-height: 120px;
    overflow: auto;
  }
}
// advantages end

// featured start
.featured {
  background-color: #eff1f5;
  padding: 120px 0;

  &__title-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    min-height: 110px;
    background-color: #fff;
    margin-bottom: 50px;
    border-radius: 4px;
    box-shadow: 0px 2px px 0px rgba(108, 111, 115, 0.1);
  }

  &__title {
    font-size: 30px;
  }

  .swiper-container {
    border-radius: 4px;
  }

  &__item {
    display: flex;
    background-color: rgb(239, 241, 245);
    box-shadow: 0px 2px 30px 0px rgba(147, 155, 168, 0.1);
  }

  &__image {
    max-width: 555px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: all .3s;

    &:hover {
      .featured__btn-wrap {
        opacity: 0.902;
      }
    }
  }

  &__btn-wrap {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: -webkit-linear-gradient( 180deg, rgb(6,116,236) 0%, rgb(61,94,215) 46%, rgb(115,71,193) 100%);
    opacity: 0;
    transition: all .5s;
  }

  &__img-btn {
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 25px;
    color: #fff;
    font-size: 15px;
    font-family: $medium;
    padding: 13px 31px;
    transition: all .3s;

    & + & {
      margin-left: 10px;
    }

    &:hover {
      box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.8);
    }

    &:active,
    &:focus {
      background-color: #fff;
      color: #2b4dd0;
    }
  }

  &__content {
    padding: 47px 60px 0px 50px;
    background-color: #fff;
  }

  &__name {
    font-size: 24px;
    font-family: $medium;
    margin-bottom: 15px;
    text-decoration: none;
    color: #000;
    display: block;
    transition: all .3s;

    &:hover {
      text-shadow: 3px 4px 6px rgba(0, 0, 0, 0.4);
    }
  }

  &__author {
    display: flex;
    align-items: center;
    margin-bottom: 26px;
  }

  &__author-link {
    text-decoration: none;
    color: #000;
    display: flex;
    align-items: center;

    &:hover {
      .featured__author-name {
        text-shadow: 1px 1px 2px rgba(51, 51, 51, 0.8);
      }
    }
  }

  &__author-image {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 8px;
    transition: all .3s;
  }

  &__author-name {
    margin-right: 20px;
    transition: all .3s;
  }

  &__category {
    display: flex;
    text-decoration: none;
    
    &:hover {
      .featured__category-name {
        text-shadow: 1px 1px 2px rgba(115, 71, 193, 0.8);
      }
    }
  }

  &__category-name {
      font-size: 15px;
      color: #7347c1;
      margin-left: 8px;
      transition: all .3s;
    }

  &__descr {
    max-width: 474px;
    max-height: 150px;
    line-height: 30px;
    color: #555;
    margin-bottom: 30px;
    overflow: auto;
  }

  &__link {
    padding-top: 5px;
    padding-left: 5px;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    margin-bottom: 31px;
    max-height: 40px;
  }

  &__resource {
    text-decoration: none;
    font-size: 15px;
    color: #868c96;
    padding: 6px 15px;
    margin-bottom: 11px;
    border-radius: 25px;
    background-color: #f1f3f6;
    transition: all .3s;

    & + & {
      margin-left: 13px;
    }

    &:hover {
      box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.4);
    }

    &:active {
      background-color: $blue;
      color: #fff;
    }
  }

  &__info {
    display: flex;
    align-items: center;
    min-height: 80px;
    border-top: 1px solid #ececec;
  }

  &__btn {
    border: none;
    outline: transparent;
    cursor: pointer;
    background-color: transparent;
    border-radius: 25px;
    display: flex;

    &--money {
      color: #fff;
      background-color: #e6f1fd;
      color: $blue;
      padding: 8px 19px;
      font-family: $medium;
      font-size: 15px;
      margin-right: 14px;
      transition: all .3s;

      &:hover {
        box-shadow: -3px 3px 2px 1px rgba(0, 0, 0, 0.1);
      }

      &:active,
      &:focus {
        background-color: $blue;
        color: #fff;
      }
    }

    &--like {
      margin-right: 34px;
      transition: all .3s;

      &:hover {
        .featured__like-icon {
          color: #FF0000;
        }

        .featured__like-count {
          color: $blue;
          text-shadow: 1px 1px 2px rgba(0, 0, 255, 0.6);
        }
      }
    }

    &--cart {
      font-size: 14px;
      transition: all .3s;

      &:hover {
        .featured__cart-icon {
          color: #0000FF;
        }

        .featured__cart-count {
          text-shadow: 1px 1px 2px rgba(0, 0, 255, 0.6);
        }
      }
    }
  }

  &__like-icon {
    color: #7347c1;
    font-size: 15px;
  }

  &__like-count {
    font-size: 15px;
    color: #555;
    margin-left: 6px;
  }

  &__cart-icon {
    color: $blue;
    font-size: 17px;
  }

  &__cart-count {
    font-size: 15px;
    color: $blue;
    margin-left: 5px;
  }
  
  &__star {
    margin-left: auto;

    svg {
      width: 15px;
      height: 15px;
    }
  }
}
// featured end

// products start
.products {
  padding: 120px 0;
  background-color: #f6f7fb;

  &__title {
    min-height: 110px;
    background-color: #fff;
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    margin-bottom: 30px;
    position: relative;
  }

  &__title-text {
    font-size: 30px;
  }

  &__title-btn {
    color: #747b86;
    display: flex;
    align-items: center;
    padding: 0;
    cursor: pointer;
    border: none;
    outline: transparent;
    background-color: transparent;
    transition: all .3s;

    &:hover {
      color: $blue;
      text-shadow: 1px 0px 1px rgba(6, 116, 236, 1);

      .products__title-icon path {
        fill:  rgb(6, 116, 236);
      }
    }
  }

  &__title-icon {
    margin-left: 25px;

    path {
      transition: all .3s;
    }
  }

  &__filter {
    display: none;
    position: absolute;
    right: 7px;
    top: 90px;
    z-index: 6;
    padding: 15px 0;
    min-width: 183px;
    box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);
    border-radius: 3px;
    background-color: #fff;
    list-style: none;

    &::before {
      content: '';
      background-image: url('../images/pointer-up-white.svg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      position: absolute;
      width: 97px;
      height: 95px;
      right: -23px;
      top: -46px;
    }
  }

  &__filter-item {
    & + & {
      margin-top: 12px;
    }
  }

  &__filter-btn {
    width: 100%;
    line-height: 28px;
    background-color: transparent;
    border-radius: 2px; 
    border: none;
    outline: transparent;
    cursor: pointer;
    padding-left: 28px;
    text-align: left;
    transition: all .3s;

    &:hover {
      color: $blue;
      text-shadow: 0 0 1px rgb(6, 116, 236);
    }
  }

  &__menu {
    min-height: 92px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0px 1px 2px 0px rgba(90, 93, 100, 0.1);
    padding-left: 30px;
    display: flex;
    align-items: center;
    margin-bottom: 50px;
  }

  &__menu-btn {
    font-size: 15px;
    color: #747b86;
    background-color: #f1f3f6;
    padding: 8px 19px;
    border-radius: 25px;
    border: none;
    outline: transparent;
    cursor: pointer;
    transition: all .3s;

    & + & {
      margin-left: 10px;
    }

    &:hover {
      box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.4);
    }

    &:active {
      background-color: $blue;
      color: #fff;
    }

    &:focus {
      background-color: $blue;
      color: #fff;
    }
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 30px;
  }

  &__item {
    max-width: 360px;
    width: 100%;
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
    border-radius: 4px;
    overflow: hidden;
    margin-bottom: 34px;
    background-color: #fff;
    transition: all .3s;
    display: flex;
    flex-direction: column;

    &:hover {
      box-shadow: 3px 3px 6px 1px rgba(0, 0, 0, 0.3);
    }
  }

  &__img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 230px;

    &:hover {
      .products__btn-wrap {
        opacity: 0.902;
      }
    }
  }

  &__btn-wrap {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: -webkit-linear-gradient( 180deg, rgb(6,116,236) 0%, rgb(61,94,215) 46%, rgb(115,71,193) 100%);
    opacity: 0;
    transition: all .5s;
  }

  &__img-btn {
    margin: 0 5px;
    min-height: 45px;
    padding: 0 30px;
    border-radius: 25px;
    border: 1px solid #fff;
    display: flex;
    align-items: center;
    background-color: transparent;
    color: #fff;
    font-size: 15px;
    font-family: $medium;

    &:hover {
      box-shadow: 0 0 5px 0 #000 inset, 0 0 5px 1px #000;
    }

    &:active,
    &:focus {
      background-color: #fff;
      color: #2b4dd0;
    }
  }

  &__content {
    padding: 28px 28px;

  }

  &__name {
    font-size: 20px;
    text-decoration: none;
    color: #000;
    font-family: $medium;
    transition: all .3s;

    &:hover {
      text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5);
    }
  }

  &__author {
    display: flex;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 25px;
  }

  &__link {
    display: flex;
    align-items: center;
    text-decoration: none;

    &:hover {
      text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.6);
    }
  }

  &__author-img {
    width: 28px;
    height: 28px;
    margin-right: 6px;
    border-radius: 25px;
    transition: all .3s;
  }

  &__author-name {
    font-size: 15px;
    color: #000;
    text-decoration: none;
    margin-right: 20px;
    transition: all .3s;
  }

  &__category {
    transition: all .3s;

    &:hover {
      text-shadow: 1px 2px 2px rgba(115, 71, 193, 0.8);
    }
  }

  &__category-name {
    margin-left: 8px;
    font-size: 15px;
    color: #7347c1;
  }

  &__descr {
    font-size: 16px;
    max-width: 318px;
    max-height: 90px;
    overflow: auto;
    line-height: 30px;
    color: #555;
  }

  &__info {
    min-height: 60px;
    border-top: 1px solid #ececec;
    display: flex;
    align-items: center;
    padding: 0 28px;

  }

  &__btn {
    min-height: 30px;
    border: none;
    outline: transparent;
    cursor: pointer;
    background-color: transparent;
    display: flex;
    align-items: center;

    &--money {
      padding: 0 18px;
      border-radius: 25px;
      background-color: #e6f1fd;
      font-size: 15px;
      color: $blue;
      margin-right: 8px;
      transition: all .3s;

      &:hover {
        box-shadow: -3px 3px 8px 1px rgba(0, 0, 0, 0.2);
      }

      &:active,
      &:focus {
        background-color: $blue;
        color: #fff;
      }
    }

    &--like {
      font-size: 15px;
      color: #6f7d8d;
      margin-right: 8px;
      transition: all .3s;

      &:hover {
        .products__like-icon {
          color: #FF0000;
        }

        .products__like-count {
          color: #ff0000;
          text-shadow: 1px 1px 2px rgba(255, 0, 0, 0.6);
        }
      }
    }

    &--cart {
      margin-left: auto;
      font-size: 15px;
      color: $blue;

      &:hover {
        .products__cart-icon {
          color: #0000ff;
        }

        .products__cart-count {
          text-shadow: 1px 1px 2px rgba(0, 0, 255, 0.6);
        }
      }
    }
  }

  &__like-icon {
    color: #7f4ec2;
    font-size: 14px;
    transition: all .3s;
  }

  &__like-count {
    transition: all .3s;
    margin-left: 7px;
  }

  &__cart-icon {
    color: $blue;
    font-size: 17px;
    transition: all .3s;
    margin-right: 38px;

  }

  &__cart-count {
    transition: all .3s;
    margin-left: 4px;
  }

  &__star {
    letter-spacing: 2px;
  }

  .rate-star {
    margin-left: 35px;
  }

  &__btn-all {
    padding: 18px 28px;
    color: #fff;
    background-color: $blue;
    cursor: pointer;
    border: none;
    outline: transparent;
    border-radius: 30px;
    margin: 0 auto;
    display: block;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);

    &:hover {
      box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.4);
    }

    &:active {
      border: 2px solid #87CEFA;
    }

    &:focus {
      border: 1px outset #00BFFF;
    }
  }
}
// products end

// followers start
.followers {
  background-color: #eff1f5;
  padding-top: 116px;
  padding-bottom: 87px;

  &__img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 230px;
    &:hover {
      .followers__btn-wrap {
        opacity: 0.902;
      }
    }
  }

  &__btn-wrap {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: -webkit-linear-gradient( 180deg, rgb(6,116,236) 0%, rgb(61,94,215) 46%, rgb(115,71,193) 100%);
    opacity: 0;
    transition: all .5s;
  }

  &__img-btn {
    margin: 0 5px;
    min-height: 45px;
    padding: 0 30px;
    border-radius: 25px;
    border: 1px solid #fff;
    display: flex;
    align-items: center;
    background-color: transparent;
    color: #fff;
    font-size: 15px;
    font-family: $medium;

    &:hover {
      box-shadow: 0 0 5px 0 #000 inset, 0 0 5px 1px #000;
    }

    &:active,
    &:focus {
      background-color: #fff;
      color: #2b4dd0;
    }
  }

  &__content {
    max-height: 182px;
  }

  .swiper-container--followers {
    min-height: 535px;
    min-width: 270px;
	}

  .rate-star--followers {
    margin-left: 25px;
  }

  .slider__btn--blue {
    background-color: $blue;
  }
}
// followers end

// statistics start
.statistics {
  background-color: #212225;
  padding: 95px 0;

  &__inner {
    display: flex;
    justify-content: space-between;
    color: #fff;
  }

  &__item {
    text-align: center;
  }

  &__icon {
    font-size: 48px;
    margin-bottom: 36px;
  }

  &__count {
    font-size: 36px;
    margin-bottom: 15px;
  }

  &__text {
    font-size: 18px;
  }

  .lnr-briefcase--yellow {
    color: #feb71d;
  }

  .lnr-cloud-download--light-blue {
    color: #58c9e9;
  }

  .lnr-smile--green {
    color: #77de51;
  }

  .lnr-users--tomato {
    color: #ff6a6d;
  }
}
// statistics end

// advantages-bottom start
.advantages-bottom {
  text-align: center;
  padding-top: 113px;
  padding-bottom: 90px;

  .advantages__icon {
    margin-bottom: 50px;
    font-size: 60px;
  }

  &__title {
    font-size: 36px;
    margin-bottom: 20px;
  }

  &__text {
    margin: 0 auto;
    font-size: 16px;
    line-height: 30px;
    color: #555;
    max-width: 660px;
    margin-bottom: 57px;
  }

  &__inner {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__items {
    min-height: 375px;
    max-width: 360px;
    margin-bottom: 27px;
    padding: 50px 35px 0;
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    position: relative;
  }

  &__num {
    font-size: 48px;
    color: #5c87f8;
    opacity: .2;
    position: absolute;
    top: 7px;
    left: 20px;
  }

  .advantages__icon {
    margin-bottom: 38px;
  }
}
// aadvantages-bottom end

// section-start__start
.start {
  &__inner {
    display: flex;
  }

  &__item {
    width: 100%;
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 30px;
    color: #fff;
  }

  &__img {
    height: 105px;
    margin-bottom: 42px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &--sell {
      width: 123px;
    }

    &--buy {
      width: 105px;
      margin-left: 18px;
    }
  }

  &__title {
    font-size: 36px;
    margin-bottom: 18px;
  }

  &__text {
    margin: 0 auto;
    font-size: 16px;
    line-height: 30px;
    padding-bottom: 45px;
    max-width: 590px;
  }

  &__btn {
    margin-top: auto;
    color: $blue;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    padding: 18px 27px;
    min-width: 190px;
    display: inline-block;
    background-color: #fff;
    border: none;
    border-radius: 35px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);

    &:hover {
      box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.6);
    }
  }
}
// section-start__end

// feedback start
.feedback {
  padding: 114px 0 140px;
  text-align: center;

  &__title {
    font-size: 36px;
    margin-bottom: 20px;
  }

  &__text {
    line-height: 30px;
    color: #555;
    max-width: 685px;
    margin: 0 auto 60px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 78px;
  }

  &__item {
    max-width: 555px;
    min-height: 315px;
    padding: 45px 37px;
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    position: relative;

    &::before {
      content: '';
      width: 2px;
      height: 100%;
      background-color: $blue;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  &__author {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    text-decoration: none;

    &:hover {
      .feedback__image {
        box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.5);
      }

      .feedback__name {
        text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
      }

      .feedback__icon {
        color: $blue;
      }
    }
  }

  &__image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 20px;
    transition: all .3s;
  }

  &__name {
    font-size: 20px;
    transition: all .3s;
    text-align: left;
  }

  &__profession {
    display: block;
    text-align: left;
    margin-top: 12px;
    font-size: 16px;
    color: #555;
  }

  &__icon {
    margin-left: auto;
    margin-bottom: 15px;
    transition: all .3s;
    font-size: 60px;
    color: #e8e8e8;
  }

  &__descr {
    text-align: left;
    line-height: 30px;
    color: #555;
    max-height: 120px;
    overflow: auto;
  }

  &__btn {
    padding: 17px 35px;
    color: #fff;
    background-color: $blue;
    cursor: pointer;
    border: none;
    outline: transparent;
    border-radius: 30px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    transition: all .3s;

    &:hover {
      box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, .7);
    }
  }
}
// feedback end

// news start
.news {
  background-color: #eff1f5;
  padding: 112px 0 85px;

  &__title {
    font-size: 36px;
    margin-bottom: 20px;
    text-align: center;
  }

  &__text {
    line-height: 30px;
    color: #555;
    margin: 0 auto 55px;
    max-width: 685px;
    text-align: center;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__img {
    width: 100%;
    max-height: 230px;
  }

  &__content {
    margin-bottom: -5px;
    padding-top: 24px;
    max-height: 191px;
    overflow: auto;
  }

  &__name {
    font-size: 22px;
    font-family: $medium;
    margin-bottom: 20px;
    text-decoration: none;
    display: block;
    color: #000;
  }

  &__info {
    padding-left: 30px;
    padding-right: 19px;
    font-size: 15px;
    color: #999;
    justify-content: flex-start;
  }

  &__date {
    position: relative;
    
    &::after {
      content: '';
      height: 40px;
      width: 1px;
      background-color: #ececec;
      position: absolute;
      right: 0;
    }
  }

  &__btn-wrap {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
  }

  &__btn {
    border: none;
    outline: transparent;
    cursor: pointer;
    color: #999;
    background-color: transparent;
    display: flex;
    align-items: center;
    transition: all .3s;

    &:hover,
    &:focus {
      color: $blue;

      .news__icon {
        color: $blue;
      }
    }

    &--views {
      margin-left: 17px;
    }
  }

  &__date {
    display: flex;
    align-items: center;
    max-width: 150px;
    width: 100%;
  }

  &__icon {
    font-size: 15px;
    margin-right: 7px;
    transition: all .3s;
  }
}
// news end

// warranty start
.warranty {
  &__inner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
  }

  &__item {
    width: 100%;
    height: 100%;
    padding-right: 18px;

    &:first-child {
      border-right: 1px solid #e8eaf3;
      padding-right: 50px;
    }
  }

  &__img {
    margin-top: 63px;
    margin-bottom: 25px;
  }

  &__title {
    font-size: 24px;
    margin-bottom: 60px;
  }

  &__link {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
// warranty end

// join start
.join {
  padding: 102px 0 127px;
  text-align: center;
  color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  &__title {
    font-size: 36px;
    margin-bottom: 20px;
  }

  &__text {
    font-size: 18px;
    margin-bottom: 70px;
  }

  &__btn {
    background-color: #fff;
    color: $blue;
    text-decoration: none;
    padding: 18px 43px;
    border-radius: 30px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);

    &:hover {
      box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.7);
    }
  }
}
// join end

// footer start
.footer {
  background-color: #262b30;
  font-size: 15px;
  line-height: 28px;
  color: #ababab;

  &__inner {
    display: flex;
    justify-content: space-between;
    padding: 115px 0;
  }

  &__item {
    &--info {
      max-width: 280px;
    }

    &--company,
    &--support {
      max-width: 134px;
      width: 100%;
      line-height: 20px;
    }

    &--newsletter {
      max-width: 360px;
    }
  }

  &__text {
    margin: 19px 0;
  }

  &__contacts {
    padding-left: 30px;
    text-decoration: none;
    color: #ababab;
    display: block;
    position: relative;
    max-width: 265px;
    font-style: normal;

    & + & {
      margin-top: 5px;
    }

    &--phone:hover,
    &--email:hover {
      color: #fff;
    }

    &::before {
      color: #fff;
      position: absolute;
      left: 0;
      font-family: 'Linearicons-Free';
    }

    &--phone::before {
      content: "\e830";
    }

    &--email::before {
      content: "\e818";
    }

    &--adress::before {
      content: "\e833";
      top: 15px;
    }
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    max-width: 382px;
    width: 100%;
  }

  &__title {
    margin-top: 5px;
    font-size: 18px;
    line-height: 42px;
    color: #fff;
  }

  &__list {
    list-style: none;
    margin-top: 23px;
    padding-left: 0;
  }

  &__menu + &__menu {
    margin-top: 12px;
  }

  &__link {
    display: block;
    color: #ababab;
    text-decoration: none;
    transition: all .3s;

    &:hover {
      color: #fff;
      text-decoration: underline;
    }
  }

  &__form {
    display: flex;
    position: relative;
    margin-bottom: 48px;
    margin-top: 32px;
  }

  &__inp {
    width: 100%;
    height: 50px;
    border: none;
    outline: transparent;
    border-radius: 30px;
    padding-left: 30px;
    padding-right: 130px;
    transition: all .3s;

    &:hover {
      box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.8) inset, 0 0 5px 2px rgba(0, 0, 0, 0.8);
    }

    &:active,
    &:focus {
      border: 2px inset $blue;
    }
  }

  &__btn {
    height: 50px;
    border: none;
    outline: transparent;
    border-radius: 30px;
    cursor: pointer;
    background-color: $blue;
    color: #fff;
    padding: 0 31px;
    position: absolute;
    right: 0;
    transition: all .3s;

    &:hover {
      box-shadow: -2px 2px 4px 1px rgba(0, 0, 0, 0.5);
    }
  }

  &__social {
    display: flex;
  }

  &__social-link {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    position: relative;
    transition: all .3s;

    &:hover {
      box-shadow: 0px 0px 5px 2px rgba(255, 255, 255, 0.8);
    }

    & + & {
      margin-left: 12px;
    }

    &--facebook {
      background-color: #395799;
    }

    &--twitter {
      background-color: #19b2f5;
    }
    
    &--google {
      background-color: #f05b44;
    }
    
    &--pinterest {
      background-color: #9c0c1c;
    }
    
    &--linkedin {
      background-color: #0da6be;
    }
    
    &--dribbble {
      background-color: #ea4c89;
    }
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: 13px;
    transform: translateY(-50%);
    color: #fff;
  }

  &__bottom {
    text-align: center;
    background-color: #192027;
    min-height: 90px;
    padding-top: 35px;
  }

  &__bottom-link {
    color: #fff;
    text-decoration: none;

    &:hover {
      text-shadow: 1px 1px 3px rgba(255, 255, 255, 1);
      text-decoration: underline;
    }
  }
}
// footer end

.page-search {
  text-align: center;
  background-color: #6c6c6c;
  background-image: -webkit-linear-gradient( 180deg, rgb(13,62,242) 0%, rgb(45,47,199) 46%, rgb(76,31,156) 100%);
  color: #fff;
  padding: 78px 0 30px;

  &__title {
    font-size: 26px;
    line-height: 40px;
    padding-bottom: 7px;
  }

  &__form {
    display: inline-block;
    max-width: 556px;
    height: 55px;
    width: 100%;
    margin-bottom: 52px;
  }

  &__inp {
    width: 100%;
    height: 100%;
    border-radius: 30px;
    padding-left: 30px;
    padding-right: 120px;
    transition: all .3s;

    &:hover {
      box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.6);
    }
  }

  &__btn {
    height: 100%;
    width: 110px;
    padding: 0 30px;
    border-radius: 30px;
    color: #fff;
  }
}

.category-products {
  background-color: #eff1f5;

  .filter {
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
    background-color: #fff;

    &__inner {
      min-height: 100px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__item {
      display: flex;
    }

    &__btn {
      border: none;
      outline: transparent;
      background-color: #fff;
      cursor: pointer;
      font-size: 16px;
      padding: 0;
      transition: all .3s;

      &--new {
        margin-right: 40px;
      }

      &:hover {
        color: $blue;
        text-shadow: 0 0 1px $blue;
      }
    }

    &__price,
    &__quantity {
      height: 44px;
      border: 1px solid #eceff2;
      outline: transparent;
      cursor: pointer;
      border-radius: 3px;
      min-width: 220px;
      padding-left: 18px;
      appearance: none;
      background-image: url('../images/arrow-down.png');
      background-repeat: no-repeat;
      background-size: inherit;
      background-position-y: calc(100% - 15px);
      background-position-x: calc(100% - 18px);
      transition: all .3s;

      &:hover {
        box-shadow: 0 0 2px 1px rgba(0, 0, 0, .3);
      }
    }

    &__quantity {
      margin-left: 29px;
    }

    &__form {
      display: flex;
    }

    &__markup {
      display: flex;
      justify-content: space-around;
      width: 96px;
      height: 44px;
      padding: 0 5px;
      border: 1px solid #eceff2;
      margin-left: 29px;
      border-radius: 3px;
    }

    &__grid,
    &__list {
      background-color: transparent;
      border: none;
      outline: transparent;
      cursor: pointer;
    }

    &__grid {
      padding-left: 11px;
    }

    &__icon--active {
      fill: rgb(6, 116, 236)
    }
  }

  &__wrap {
    padding: 80px 0 118px;
    display: flex;
  }

  .side-bar {
    margin-right: 30px;
    max-width: 264px;
    width: 100%;

    &__items {
      box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
      border-radius: 4px;
      background-color: #fff;
      padding: 23px 28px;

      &--filter,
      &--price {
        margin-top: 30px;
      }
    }

    &__title {
      font-size: 20px;
      line-height: 30px;
      padding-bottom: 22px;
      color: #010101;
      border-bottom: 1px solid #e7ebee;
      position: relative;

      &::after {
        content: '\e874';
        font-family: 'Linearicons-Free';
        font-size: 12px;
        color: #555;
        position: absolute;
        right: 0;
        top: 2px;
      }
    }

    &__list {
      list-style: none;
      padding-top: 20px;
      
    }

    &__item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-left: 18px;
      transition: all .3s;
      position: relative;

      &--filter {
        padding-left: 0;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 15px;
        line-height: 20px;
        padding: 8px 0;
      }
    }

    &__radio {
      position: absolute;
      z-index: -1;
      opacity: 0;
      margin: 10px 0 0 7px;

      & + .side-bar__radio-label {
        position: relative;
        padding: 0 0 0 18px;
        cursor: pointer;

        &::before {
          content: '';
          position: absolute;
          top: 5px;
          left: 0;
          width: 10px;
          height: 10px;
          border: 1px solid #CDD1DA;
          border-radius: 50%;
          background: #FFF;
        }

        &:after {
          content: '';
          position: absolute;
          top: 7px;
          left: 2px;
          width: 6px;
          height: 6px;
          border-radius: 50%;
          background: $blue;
          opacity: 0;
          transition: .3s;
        }
      }

      &:checked + .side-bar__radio-label::after {
        opacity: 1;
      }

      &:focus + .side-bar__radio-label::before {
        border: 1px solid $blue;
      }

      &:hover + .side-bar__radio-label::before{
        border: 1px solid $blue;
      }

      &:hover + .side-bar__radio-label:hover {
        color: $blue;
        text-shadow: 0 0 1px $blue;
      }
    }

    &__radio-label  {
      width: 100%;
    }
    

    &__btn {
      width: 100%;
      text-align: left;
      border: none;
      outline: transparent;
      cursor: pointer;
      background-color: transparent;
      font-size: 15px;
      line-height: 20px;
      padding: 8px 0;

      &::before {
        position: absolute;
        left: 0;
      }

      &--categories::before {
        content: '\e876';
        font-family: 'Linearicons-Free';
        font-size: 10px;
      }

      &--filter::before {
        content: '';
        background-image: url('../images/ellips-filter-icon.svg');
        width: 11px;
        height: 11px;
        top: 50%;
        transform: translateY(-50%);
      }

      &:hover,
      &:focus {
        color: $blue;
        text-shadow: 0 0 1px $blue;
      }
    }

    &__price-form {
      .irs-max,
      .irs-min {
        display: none;
      }

      .irs-line {
        top: 17px;
        height: 6px;
        background-color: #efedf3;
      }

      .irs--flat .irs-bar {
        top: 17px;
        height: 6px;
        background-color: #7347c1;
      }

      .irs--flat .irs-handle {
        top: 10px;
        width: 18px;
        height: 18px;
        border: 4px solid $blue;
        background-color: #fff;
        border-radius: 50%;
      }

      .irs--flat .irs-handle>i:first-child {
        display: none;
      }

      .irs-from, .irs-to {
        top: 48px;
        width: 80px;
        font-size: 15px;
        line-height: 32px;
        color: #7347c1;
        border-radius: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(115, 71, 193, .1);

        &::before {
          display: none;
        }
      }

      .irs-single {
        display: none;
      }

      .irs-from {
        left: 0 !important;
        visibility: visible !important;
      }

      .irs .irs-to {
        right: 0 !important;
        left: auto !important;
        visibility: visible !important;
      }

      .irs--flat {
        min-height: 100px;
        margin-bottom: 12px;
      }
    }

    &__price-btn {
      min-width: 170px;
      min-height: 44px;
      border-radius: 22px;
      border: none;
      outline: transparent;
      cursor: pointer;
      background-color: $blue;
      color: #fff;
      display: block;
      margin: 0 auto 17px;

      &:hover {
        box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.5)
      }
    }
  }

  .category-products__box {
     max-width: 846px;
  }

  .products__descr,
  .category-products__statistic--list,
  .category-products__purchase {
    display: none;
  }

  &__item {
    max-width: 260px;
    max-height: 372px;
    transition: all .4s;

    &.list {
      max-width: 100%;
      flex-direction: row;
      margin-bottom: 30px;

      .category-products__img {
        max-width: 230px;
        width: 100%;
      }

      .category-products__link--grid,
      .category-products__rating,
      .category-products__info--grid {
        display: none;
      }

      .products__descr,
      .category-products__info--list {
        display: block;
      }

      .category-products__category--list {
        display: flex;
      }

      .category-products__info--list{
        position: relative;
        max-width: 205px;
        width: 100%;
        padding: 30px 20px;
      }

      .category-products__content {
        max-width: 260px;
        padding: 26px 20px 10px 20px;
        position: relative;
      }


      .category-products__content,
      .category-products__info--list {
        &::after {
          content: '';
          width: 1px;
          height: 150px;
          background-color: #ececec;
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
        }
      }

      .products__descr {
        margin: 15px 0;
      }

      .category-products__link {
        margin-bottom: 10px;
      }

      .category-products__author {
        margin-top: 13px;
        margin-bottom: 8px;
      }

      .statistic-like,
      .statistic-comments {
        font-size: 15px;
        line-height: 28px;
        color: #6f7d8d;
        padding-left: 20px;
        position: relative;
        
        &::before {
          position: absolute;
          font-family: 'Linearicons-Free';
          left: 0;
          font-size: 15px;
          color: #7f4ec2;
        }
      }

      .statistic-like::before {
        content: '\e813';
      }

      .statistic-comments::before {
        content: '\e83f';
      }

      .statistic {
        margin-bottom: 5px;
      }

      .category-products__rating-list {
        display: flex;
        align-items: center;
        padding: 0;

        svg {
          height: 15px;
          width: 15px;
          fill: #ffc000;
          padding-right: 5px;
        }
      }

      .rating-count {
        margin-left: 20px;
      }

      .category-products__info {
        border: none;
      }

      .category-products__purchase {
        max-width: 150px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      .category-products__btn {
        margin: 10px 0;
      }

      .category-products__btn--cart {
        max-width: 80px;
        width: 100%;
        text-align: center;
        padding-left: 15px;
      }
    }
  }
  
  &__img {
    min-height: 160px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &__content {
    padding: 15px 20px 8px 20px;
  }

  &__name {
    font-size: 18px;
    line-height: 23px;
  }

  &__author-img {
    transition: all .3s;
    &:hover {
      box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.5);
    }
  }

  &__author {
    margin-top: 11px;
    margin-bottom: 12px;
  }

  &__rating {
    display: flex;
    align-items: center;
  }

  .star-category {
    width: 90px !important;
    padding: 0;

    svg {
      height: 15px;
      width: 15px;
      margin-right: 2px;
    }
  }

  &__info {
    justify-content: space-between;
    padding: 0 20px;

    &--list {
      display: none;
    }
  }

  &__category {
    display: flex;
    align-items: center;

    &--list {
      display: none;
    }
  }

  &__category-name {
    margin-left: 5px;
  }

  .pagination {
    &__list {
      display: flex;
      justify-content: flex-end;
      list-style: none;
    }

    &__item:not(:first-child) {
      margin-left: 5px;
    }

    &__switch {
      font-family: 'Linearicons-Free';

      &:first-child {
        margin-right: 15px;
      }

      &:last-child {
        margin-left: 20px;
      }
    }

    &__btn {
      width: 50px;
      height: 38px;
      border-radius: 19px;
      background-color: #fff;
      font-size: 16px;
      color: #747b86;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all .3s;

      &:hover {
        box-shadow: 0 0 2px 2px rgba(116, 123, 134, .5);
      }

      &--active {
        background-color: $blue;
        color: #fff;
      }
    }

    &__btn-switch {
      &--active {
        background-color: #7347c1;
        color: #fff;
      }
    }
  }
}



@import 'media';